body {
  background-color: #000000;
  color: #ffffff;
  padding: 50px;
  margin: 0;
}

* {
  box-sizing: border-box;
}

li, a, button {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
  position: absolute;
}

.top-left-button,
.top-right-button {
    position: fixed;
    top: 10px;
    padding: 10px;
    color: blue;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 100;
    text-decoration: none;
    transition: color 0.3s ease;
}

.top-left-button {
    left: 10px;
}

.top-right-button {
    right: 10px;
}

.top-left-button:hover { 
    color: rgb(255, 255, 255);
}

.top-right-button:hover { 
    color: rgb(255, 255, 255);
}