@font-face {
    font-family: 'Case';
    src: url('Case-Regular.woff2') format('woff2'),
        url('Case-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

