* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

li, a, button {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}


.nav_links {
    list-style: none;
    justify-content: flex-start;
    align-items: center;
}

.nav_links li {
    display: inline-block;
    color: white;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: blue;
}

a:visited {
    color: white
  }

button {
    color: white;
    padding: 9px 25px;
    background-color: blue;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: black;
}



body {
    margin: 0;
    padding: 0;
    background-color: #000000;
  }
  
  .container {
    position: relative;
  }
  
  h1 {
    color: white;
    font-family: "Gustavo";
    font-size: 6vw;
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: transparent;
  }
  
  .glitch {
    width: 67%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  

  /* Smartphone */
@media only screen and (max-width: 768px) {
    .nav_links {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .nav_links li {
      margin: 10px 0;
    }

    h1 {
    font-size: 10vw;
  }

  .glitch {
    width: 140%;
  }

}
