body {
    background-color:black ;
    color: white;
    font-family:  "neue-haas-grotesk-display", sans-serif;
    }

@font-face {
        font-family: 'Case';
        src: url('Case-Regular.woff2') format('woff2'),
            url('Case-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }                  
.case {
    font-family: "Case-Regular", serif;
  }

h1 {
    font-size: 4vw;
    color: #ffffff;
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin:0;
    padding-top: 0.5em;
    text-align: center;
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: -1px;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-left: 25em;
}
  
.flex-item {
    text-align: left;
}


img {
    max-width: 45em;
    height: auto;
    margin-top: 5em;
  }


h2 {
    font-size: 5em;
    width: 70%;
    margin-bottom: 20px;
}


.pill-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000dff;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    margin-bottom: 25px;
  }
  

  .pill-link:hover {
    background-color: rgb(77, 58, 248);
  }
  
p {
    font-size: 16px;
    width: 70%;
    margin-bottom: 8em
}