body {
    margin: 0;
    overflow: hidden;
    background-color: black;
}

#arrayText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: rgb(255, 255, 255);
    display: none;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}